<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5" id="projects">

  <a class="group block relative rounded-lg border border-transparent hover:border-cyan-400 transition-all duration-300 p-4 bg-neutral-900 flex flex-col justify-between min-h-[260px]"
    href="https://www.google.com" target="_blank">
    <img class="w-full h-40 object-cover rounded-md mb-4"
      src="https://images.unsplash.com/photo-1656618724305-a4257e46e847?q=80&w=320" alt="Project" />

    <h3 class="text-white font-semibold group-hover:text-cyan-400 transition">
      Project Title
    </h3>

    <p class="text-sm text-neutral-400 mt-1">
      Short description of the project goes here. It can be 1 or 2 lines.
    </p>

    <div class="mt-3 flex flex-wrap gap-2">
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Angular</span>
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Tailwind</span>
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Firebase</span>
    </div>
  </a>
  <a class="group block relative rounded-lg border border-transparent hover:border-cyan-400 transition-all duration-300 p-4 bg-neutral-900 flex flex-col justify-between min-h-[260px]"
    href="https://www.google.com" target="_blank">
    <img class="w-full h-40 object-cover rounded-md mb-4"
      src="https://images.unsplash.com/photo-1656618724305-a4257e46e847?q=80&w=320" alt="Project" />

    <h3 class="text-white font-semibold group-hover:text-cyan-400 transition">
      Project Title
    </h3>

    <p class="text-sm text-neutral-400 mt-1">
      Short description of the project goes here. It can be 1 or 3 lines an writes.
    </p>

    <div class="mt-3 flex flex-wrap gap-2">
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Angular</span>
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Tailwind</span>
      <span class="bg-neutral-800 text-xs text-white px-2 py-1 rounded">Firebase</span>
    </div>
  </a>

</div>